[Unit]
Description=Discord Bot service
After=multi-user.target
Before=monitor.service

[Service]
ExecStart=/home/acmcs/acm-bot/discordbotservice.sh
Type=forking

[Install]
WantedBy=default.target