[Unit]
Description=Door Monitor service
After=multi-user.target

[Service]
ExecStart=/home/acm/acm-bot/monitorservice.sh
Type=forking
Restart=always

[Install]
WantedBy=default.target